* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, #b9f09a 0%, #1cc516 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input {
    padding: 0.5rem;
    font-size: 2.0rem;
    border: none;
    background: white;
  }
  .todo-button {
    width: 10%;
    color: white;
    background-color: #1cc516;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  form button:hover {
    background: #1cc516;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 1rem;
    font-size: 18px;
    height: 60px;
  }
   .todo li {
    flex: 1;
  }
  li{
    font-size: 30px;
  }
 
  
  .trash-btn,
  .complete-btn {
    background: #1cc516;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    

  }

  .complete-btn {
    background: rgb(11, 212, 95);
  }
  .todo-item {
    padding: 0.3rem 0.5rem;
    
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  } 
  
  /*CUSTOM SELECTOR */
  select {
    
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #3fee39;
    height: 52px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  #error{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }
  